<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- JQuery JS -->
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- Project CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/scss/custom.css}">

    <style>
        /* Custom CSS for navbar */
        .navbar {
            background-color: #f8f9fa; /* Set the desired background color */
        }

        .navbar-brand,
        .nav-link {
            color: #000000 !important; /* Set the desired font color */
        }

        .navbar-toggler {
            border-color: #000000; /* Set the desired color for the toggler icon */
        }

        .navbar-toggler-icon {
            background-color: #000000; /* Set the desired background color for the toggler icon */
        }
    </style>

</head>

<body>
    <th:block th:replace="layouts/nav :: header" th:remove="tag">
        <!-- Standard header and Navigation -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <div class="btn-group">
                        <img alt="" class="d-inline-block align-center"
                             src=""
                             th:src="@{/images/ncs_logo.png}"
                             height="50"
                             width="auto">
                        <a class="navbar-brand" th:href="@{https://nighthawkcodingsociety.com}">Everything Stocks</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarHome">
                            <ul class="navbar-nav">

                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/login}">Login<span class="sr-only"></span></a>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/mvc/stock/read}">Stock Table<span class="sr-only"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="btn-group">
                        <!-- Search Box -->
                        <div class="px-3" style="height:30px;">
                            <input id="search" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <!-- Clock display -->
                        <div class="px-3 text-dark">
                            <span id="clock"></span>
                        </div>

                        <!-- Dark mode action -->
                        <div class="form-check form-switch">
                            <label class="custom-control-label" for="darkSwitch"></label>
                            <input type="checkbox" onclick="darkFunction()" class="form-check-input link-dark" id="darkSwitch">
                        </div>
                    </div>

                    <!-- Navigation bar JavaScript support -->
                    <script>
                        // Rest of your JavaScript code
                    </script>
                </div>
            </nav>
        </header>
    </th:block>

    <!-- Rest of your HTML code -->

    <!-- Bootstrap 5.0 Bundle with Popper -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

<th:block layout:fragment="script" th:remove="tag"></th:block>

</html>
