<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Intro</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div>
        <h1>Welcome to JARP Stocks</h1>
        <p>JARP Stocks provides comprehensive market data and education on stocks to help you make informed investment decisions.</p>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>
